.about-page {
  @extend
    .page;

  .tools {
    @extend
      .blur-mid,
      .rounded-corner,
      .column,
      .glowing-border;

    width: 100%;
    padding: $padding;

    .description {
      @extend
        .border,
        .font-size-small,
        .rounded-corner;

      padding: $padding;
    }

    .row {
      padding: $padding;
      gap: 1cm;

      .logo {
        @extend
          .border,
          .rounded-corner;

        align-items: center;

        padding: .3cm;
        background: rgba($background, 0.6);
      }

      .logo:hover {
        background: $selection-background;
      }
    }

  }

  .about-block {
    @extend
      .blur-light,
      .rounded-corner,
      .glowing-border,
      .font-size-small;

    // distance to the top bar
    /* margin-top: 3em; */

    /* background: red; */
    text-align: left;
    padding: $padding;
    width: 100%;

    img {
      width: max(min(5dvh, .7cm), .6cm);
    }
  }
}

.most {
  border-color: $green;
}