html {
  background-color: $background;
  color: $foreground;
  font-family: "Arial"
}

a {
  color: $red;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-size-big {
  font-size: 2.0rem;
}

.font-size-medium {
  font-size: 1.5rem;
}

.font-size-small {
  font-size: 1.0rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-content: center
}

.blur-light {
  $strength: 2px;

  backdrop-filter: blur($strength);
  -webkit-backdrop-filter: blur($strength);
}

.blur-mid {
  $strength: 8px;

  backdrop-filter: blur($strength);
  -webkit-backdrop-filter: blur($strength);
}

.blur-strong {
  $strength: 50px;

  backdrop-filter: blur($strength);
  -webkit-backdrop-filter: blur($strength);
}

.glowing-border {
  outline: none;
  box-shadow: 0 0 2em $blue;
  border-color: $blue;
  border-style: solid;
}

.rounded-corner {
  border-radius: .5cm;
}

.title {
  @extend
    .font-size-big;

  text-decoration: underline;
  font-weight: bold;
  color: $selection-foreground;
}

.dividing-line {
  @extend
    .rounded-corner;

  width: 80%;
  height: 2.5px;
  /* margin: 0.5rem auto; */
  background: $blue;
  flex: 0 0 auto;
  align-self: center;
}
