html {
  background-color: $background;
  color: $foreground;
}

main {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.font-size-medium {
  font-size: 1.75rem;
}

.font-size-small {
  font-size: 1.4rem;
}

.emoji {
  width: 2em;
  height: 2em;

  padding: 1em;
}
