.blog-post-page {
  @extend .page;

  .blog-post-content {
    @extend
      .blur-light,
      .block;

    background-color: rgba($background, 0.75);

    pre {
      position: relative;

      &:hover .copy-button {
        opacity: 1;
      }
    }
  }
}
