// Info pages are pages which contain extra information like the
// about page and blog.

.blog-page {
  @extend
    .page;

  // let the content of the page start from the top
  justify-content: flex-start;

  gap: 1cm;

  .blog-entry {
    @extend
      .blur-strong,
      .rounded-corner,
      .glowing-border;

    text-decoration: none;

    width: 100%;
    padding: $padding;

    background-color: rgba($background, 0.6);
    transition: background-color 0.5s ease;

    &:hover {
      background-color: rgba($selection-background, 0.6);
    }

    .blog-entry-title {
      @extend
        .title,
        .row,
        .font-size-medium;

      padding: 0;
      justify-content: start;
    }

    .blog-entry-date {
      @extend
        .row,
        .font-size-small;

      color: $foreground;
      padding-top: .5rem;
      justify-content: start;
    }

    .blog-entry-hr {
      color: $light_black;
    }

    .blog-entry-description {
      color: $foreground;
    }
  }
}
