.profile-card {
  @extend
    .rounded-corner,
    .glowing-border;

  gap: $gap;
  padding: 1cm;

  background-color: rgba($background, 0.6);

  .card-title {
    @extend
      .title;

    padding: 0;
  }

  .profile-picture {
    aspect-ratio: 2560 / 1600;
    width: 250px;
    height: auto;
  }

  .further-links {
    @extend
      .rounded-corner;

    width: 80%;
    padding: .1cm;
    border: .1cm solid $blue;
    text-decoration: none;
    color: $cyan;

    background: linear-gradient(to right, $blue, $selection-background);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size 0.3s ease, color 0.3s ease, transform 0.3s ease;

    text-align: center;

    &:hover {
      background-size: 100% 100%;
    }
  }
} 

