body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100dvh;

  // center the card
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-card {
    @extend
      .rounded-corner,
      .glowing-border;
    min-height: 6cm;
    min-width: 5cm;
    gap: .5rem;
    padding: 2em;

    /* max-width: 30dvh; */
    /* max-height: 35dvh; */

    background-color: rgba($background, 0.6);

    .card-title {
      @extend
        .title;
      color: $blue;
      text-decoration: underline;
      font-weight: bold;
    }

    .profile-picture {
      aspect-ratio: 2560 / 1600;
      width: 250px;
      height: auto;
    }

    .further-links {
      @extend
        .rounded-corner;

      width: 80%;
      padding: 0.2rem;
      border: 0.2rem solid $blue;
      text-decoration: none;
      color: $cyan;

      background: linear-gradient(to right, $blue, $selection-background);
      background-size: 0% 100%;
      background-repeat: no-repeat;
      background-position: left;
      transition: background-size 0.3s ease, color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-size: 100% 100%;
      }
    }
  } 
}

