.container {
  width: 100%;
  height: 100vh;

  // center the card
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-card {
    // card blur
    background-color: rgba($background, 0.6);
    backdrop-filter: blur(2em);
    -webkit-backdrop-filter: blur(5px);

    // glowing border
    outline: none;
    box-shadow: 0 0 1em $blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 2em;

    border-radius: 2em;

    .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .further-links {
        color: $cyan;
      }
    }

    .card-title {
      color: $blue;
      text-decoration: underline;
      font-weight: bold;
    }

    .profile-picture {
      aspect-ratio: 2560 / 1600;
      width: 25em;
    }

    .description {
      color: $foreground;
    }

    .social-accounts {
      a {
        .icon {
          color: $cyan;

          width: 4em;
          height: 3em;
          transition: 0.3s;
        }

        .icon:hover {
          color: $green;
        }
      }
    }
  } 
}

