body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100dvh;

  // center the card
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-card {
    min-height: 6cm;
    min-width: 5cm;

    max-width: 30dvh;
    max-height: 35dvh;

    // card blur
    background-color: rgba($background, 0.6);
    backdrop-filter: blur(2em);
    -webkit-backdrop-filter: blur(5px);

    // glowing border
    outline: none;
    box-shadow: 0 0 1em $blue;

    padding: 2em 1em;
    
    border-radius: 2em;

    .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      /* background: red; */

      padding: 1vh;

      .further-links {
        color: $cyan;
      }
    }

    .card-title {
      color: $blue;
      text-decoration: underline;
      font-weight: bold;
      /* background: blue; */
      padding-bottom: 2vh;
    }

    .profile-picture {
      aspect-ratio: 2560 / 1600;
    }

    .social-accounts {
      padding-top: 2dvh;
      a {
        .icon {
          color: $cyan;

          /* width: 4vh; */
          width: max(4dvh, .8cm);
          height: 3em;
          transition: 0.3s;
        }

        .icon:hover {
          color: $green;
        }
      }
    }
  } 
}

