// Info pages are pages which contain extra information like the
// about page and blog.

.info-page-container {
  @extend
    // to center the stuff
    .row;

  width: 100%;
  height: 100vh;
}

.info-page {
  @extend
    .column;

  width: 20cm;
  height: 100vh;
  margin: 4dvh;

  // let the content of the page start from the top
  justify-content: flex-start;
}

.info-content {
  @extend
    .blur-strong,
    .rounded-corner,
    .glowing-border,
    .font-size-small;

  // distance to the top bar
  margin-top: 3cm;

  /* background: red; */
  text-align: left;
  padding: 1em;
}

.title {
  color: $blue;
  text-decoration-line: underline;
  text-align: center;
  flex-grow: 2;
}
