// Info pages are pages which contain extra information like the
// about page and blog.

.info-page {
  @extend
    .column;

  width: 80%;
  max-width: $max-width;
  height: 100vh;
  gap: .3cm;

  /* background: red; */

  // let the content of the page start from the top
  justify-content: flex-start;
}

.info-block {
  @extend
    .blur-light,
    .rounded-corner,
    .glowing-border,
    .font-size-small;

  // distance to the top bar
  /* margin-top: 3em; */

  /* background: red; */
  text-align: left;
  padding: 1em;
  max-width: 100vh;

  img {
    width: max(min(5dvh, .7cm), .6cm);
  }
}

.title {
  color: $blue;
  text-decoration-line: underline;
  text-align: center;
  flex-grow: 2;

  /* width: 100%; */
}
