.top-bar {
  @extend
    .row,
    .blur-mid,
    .rounded-corner,
    .glowing-border;

  justify-content: space-around;
  width: 80%;
  margin: $margin;

  .top-bar-left, .top-bar-right {
    @extend
      .column;

    flex: 11%;
    color: $cyan;
  }

  .top-bar-center {
    @extend
      .title;

    flex: 70%;
  };
}
