.top-bar {
  @extend
    .row,
    .blur-light,
    .rounded-corner,
    .glowing-border;

  justify-content: space-around;
  max-width: $max-width;
  width: 80%;
  margin: $margin;
  gap: .1cm;

  .top-bar-left {
    @extend
      .column;

    flex-grow: 1;

    background: none;
    border: none;

    .emoji {
      width: 3em;
      height: 3em;
    };
  }

  .top-bar-center {
    @extend
      .title,
      .column;

    flex-grow: 2;
  };

  .top-bar-right {
    flex-grow: 1;
  }
}
