<script src="https://xemantic.github.io/shader-web-background/dist/shader-web-background.min.js"></script>

<script type="x-shader/x-fragment" id="Image">
    precision highp float;

    uniform vec2  iResolution;
    uniform float iTime;

    // noise functions from: https://www.shadertoy.com/view/4djSRW
    float rand21(vec2 p)
    {
    	vec3 p3  = fract(vec3(p.xyx) * .1031);
        p3 += dot(p3, p3.yzx + 33.33);
        return fract((p3.x + p3.y) * p3.z);
    }

    vec2 rand22(vec2 p)
    {
      	vec3 p3 = fract(vec3(p.xyx) * vec3(.1031, .1030, .0973));
        p3 += dot(p3, p3.yzx+33.33);
        return fract((p3.xx+p3.yz)*p3.zy);

    }

  void mainImage( out vec4 fragColor, in vec2 fragCoord ) {
      vec3 col = vec3(0.);

      vec2 uv = fragCoord.xy / iResolution.xy;
      uv.x *= iResolution.x / iResolution.y;

      uv *= 10.;

      vec2 id = floor(uv);
      vec2 gv = fract(uv);

      float m_dist = 1.;

      for (int y = -1; y < 2; y++) {
          for (int x = -1; x < 2; x++) {
              vec2 n = vec2(x, y);

              vec2 nid = id + n;
              vec2 p = rand22(nid);
              p.x *= cos(iTime * rand21(nid * 5.)) * .5 + .5;
              p.y *= sin(iTime * rand21(nid * 2.)) * .5 + .5;

              float dist = distance(gv, p + n);

              m_dist = min(m_dist, dist);
          }
      }

      vec3 base_color = sin(vec3(uv, 48.) + iTime * .5) * .2 + .8;
      col += pow(m_dist + .1, 12.) * base_color;
      fragColor = vec4(col, 1.);
    }

    // -- End of Shadertoy code

    void main() {
      mainImage(gl_FragColor, gl_FragCoord.xy);
    }
</script>
<script>
  shaderWebBackground.shade({
    shaders: {
      Image: {
        uniforms: {
          iResolution: (gl, loc, ctx) =>
            gl.uniform2f(loc, ctx.width, ctx.height),
          iTime: (gl, loc) => gl.uniform1f(loc, performance.now() / 1000),
        },
      },
    },
  });
</script>
