{% extends "base.html" %}

<!-- Content -->
{% block content %}
<script
  src="/shaders/loader.js"
  data-fragment-url="/shaders/night-sky.glsl"
></script>

<div class="about-tool-page">
  <div class="top-bar">
    <a href="../" class="top-bar-left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
      </svg>
    </a>

    <div class="font-size-big top-bar-center">{{ page.title }}</div>

    <a
      href="{{ page.extra.homepage }}"
      class="top-bar-right homepage"
      title="Open its homepage"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
        />
        <path d="M11 13l9 -9" />
        <path d="M15 4h5v5" />
      </svg>
    </a>
  </div>

  <div class="block">{{ page.content | safe }}</div>
</div>
{% endblock content %}
