{% extends "base.html" %}

<!-- Content -->
{% block content %}
<script type="module" src="/shaders/wavey-spheres/code.js"></script>

<div class="about-page">
  {% include "top_bar.html" %}

  <div class="tools">
    <div class="title">Toolbelt</div>
    <div class="description">
      Here you can find some tools I've been working with. You can click on them
      and read a little bit about what I've done with them or just some comments
      about them.
    </div>

    <div class="row">
      {% for page in section.pages %}
      <a href="{{ page.permalink | safe }}" class="logo">
        <img
          width="75px"
          height="75px"
          src="{{ page.extra.logo_url }}"
          alt="{{ page.title }}"
        />
      </a>
      {% endfor %}
    </div>
  </div>

  {% endblock content %}
</div>
