<!doctype html>
<html lang="en">
  <head data-vimmatic-content-status="ready">
    <meta charset="utf-8" />
    <title>{{config.description}}</title>
    <meta name="author" content="{{ config.author }}" />
    <meta name="description" content="{{config.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ get_url(path='/style.css')}} " />

    {% block header %} {% endblock header %}
  </head>
  <body>
    <main class="main">{% block content %} {% endblock content %}</main>
  </body>
</html>
