{% extends "base.html" %}

<!-- Shader -->
{% block header %} {% include "shaders/wires.html" %} {% endblock header %}

<!-- Content -->
{% block content %}

<div class="info-page-container">
  <div class="info-page">
    {% include "top_bar.html" %}

    <!-- Actual content -->
    <div class="info-block">{{ section.content | safe }}</div>

    <ul>
      {% for page in section.pages%}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
