{% extends "base.html" %}

<!-- Content -->
{% block content %}
<script type="module" src="/shaders/chilly-waves/code.js"></script>

<div class="blog-post-page">
  <div class="top-bar">
    <button onclick="history.back()" class="top-bar-left">
      <img class="emoji" src="/emojis/peepoExit.png" />
    </button>

    <div class="font-size-big top-bar-center">{{ page.title }}</div>

    <div class="top-bar-right"></div>
  </div>

  <div class="blog-post-content">{{ page.content | safe }}</div>
</div>

{% endblock content %}
