{% extends "base.html" %}

<!-- Shader -->
{% block header %} {% include "shaders/starfield.html" %} {% endblock header %}

<!-- Content -->
{% block content %}
<div class="container">
  <div class="profile-card">
    <div class="nav-bar">
      <a
        href="{{ get_url(path='@/about/_index.md') }}"
        class="further-links font-size-medium"
        >About</a
      >
      <a
        href="{{ get_url(path='@/blog/_index.md') }}"
        class="further-links font-size-medium"
      >
        Blog
      </a>
    </div>

    <h1 class="card-title">{{ config.author }}</h1>

    <img
      class="profile-picture"
      src="/{{ config.extra.profile_picture }}"
      alt="me"
    />

    <h2 class="description">{{config.extra.description}}</h2>

    <div class="social-accounts">
      <a href="https://github.com/TornaxO7" title="Github">
        {% include "icons/github.html" %}
      </a>

      <a href="https://www.reddit.com/user/TornaxO7/" title="Reddit">
        {% include "icons/reddit.html" %}
      </a>

      <a href="https://mastodon.social/@TornaxO7" title="Mastodon">
        {% include "icons/mastodon.html" %}
      </a>

      <a href="mailto:tornax@pm.me" title="Mail">
        {% include "icons/mail.html" %}
      </a>
    </div>
  </div>
  {% endblock content %}
</div>
