{% extends "base.html" %}

<!-- Shader -->
{% block header %} {% include "shaders/starfield.html" %} {% endblock header %}

<!-- Content -->
{% block content %}
<div class="container">
  <div class="profile-card column blur-light">
    <div class="card-title font-size-big">{{ config.author }}</div>

    <img
      class="profile-picture"
      src="/{{ config.extra.profile_picture }}"
      alt="me"
    />

    <div class="dividing-line"></div>

    <a
      href="{{ get_url(path='@/about/_index.md') }}"
      class="further-links font-size-medium"
      >About</a
    >

    <a
      href="{{ get_url(path='@/blog/_index.md') }}"
      class="further-links font-size-medium"
      >Blog</a
    >

    <a
      href="{{ get_url(path='@/social/_index.md') }}"
      class="further-links font-size-medium"
      >Social</a
    >

    <!-- <div class="social-accounts row"> -->
    <!-- <a href="https://github.com/TornaxO7" title="Github"> -->
    <!-- {% include "icons/github.html" %} -->
    <!-- </a> -->

    <!-- <a href="https://www.reddit.com/user/TornaxO7/" title="Reddit"> -->
    <!-- {% include "icons/reddit.html" %} -->
    <!-- </a> -->

    <!-- <a href="https://mastodon.social/@TornaxO7" title="Mastodon"> -->
    <!-- {% include "icons/mastodon.html" %} -->
    <!-- </a> -->

    <!-- <a href="mailto:tornax@pm.me" title="Mail"> -->
    <!-- {% include "icons/mail.html" %} -->
    <!-- </a> -->
    <!-- </div> -->
  </div>
  {% endblock content %}
</div>
