{% extends "base.html" %}

<!-- Content -->
{% block content %}
<script type="module" src="/shaders/ps3--/code.js"></script>

<div class="info-page">
  {% include "top_bar.html" %}

  <div class="links">
    <div class="link font-size-medium">
      {% include "icons/mail.html" %} tornax(at)pm.me
    </div>

    <a
      rel="me"
      href="https://mastodon.social/@TornaxO7"
      class="link font-size-medium mastodon-link"
    >
      {% include "icons/mastodon.html" %} Mastodon
    </a>

    <a
      href="https://www.reddit.com/user/TornaxO7/"
      class="link font-size-medium reddit-link"
    >
      {% include "icons/reddit.html" %} Reddit
    </a>

    <a
      href="https://github.com/TornaxO7"
      class="link font-size-medium github-link"
    >
      {% include "icons/github.html" %} Github
    </a>

    <a
      href="https://www.shadertoy.com/user/TornaxO7/sort=newest"
      class="link font-size-medium shadertoy-link"
    >
      <img src="{{ get_url(path='shadertoy.png') }}" />
      Shadertoy</a
    >
  </div>
</div>

{% endblock content %}
