{% extends "base.html" %}

<!-- Content -->
{% block content %}
<script type="module" src="/shaders/ps3--/code.js"></script>

<div class="link-page">
  {% include "top_bar.html" %}

  <div class="links">
    <div class="link font-size-medium">
      {% include "icons/mail.html" %} tornax(at)pm.me
    </div>

    <a
      rel="me"
      href="https://mastodon.social/@TornaxO7"
      class="link mastodon-link"
    >
      {% include "icons/mastodon.html" %} Mastodon
    </a>

    <a href="https://www.reddit.com/user/TornaxO7/" class="link reddit">
      {% include "icons/reddit.html" %} Reddit
    </a>

    <a href="https://github.com/TornaxO7" class="link github">
      {% include "icons/github.html" %} Github
    </a>

    <a href="https://www.shadertoy.com/user/TornaxO7" class="link shadertoy">
      <img src="{{ get_url(path='shadertoy.png') }}" />
      Shadertoy</a
    >

    <a
      href="https://www.linkedin.com/in/tornax-o7-848605251"
      class="link linkedin"
    >
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
      />
      LinkedIn
    </a>

    <a
      href="https://stackoverflow.com/users/11035194/tornaxo7"
      class="link stackoverflow"
    >
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/stackoverflow/stackoverflow-original.svg"
      />
      Stackoverflow
    </a>
  </div>
</div>

{% endblock content %}
